.containerCards {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 550px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}
