@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.App {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 25px 10%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 72.5%;
  background-image: url(./assets/img/Fondo\ 1.png);
  filter: contrast(150%);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;
}

html {
  height: 150%;
  background: radial-gradient(
    ellipse at bottom,
    rgb(0, 0, 20) 0%,
    rgb(0, 0, 5) 100%
  );
  background-size: cover;
  overflow: hidden;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 72px 1412px #fff, 696px 1133px #fff, 539px 1613px #fff,
    1867px 1398px #fff, 206px 1573px #fff, 1251px 965px #fff, 744px 391px #fff,
    62px 1790px #fff, 1649px 597px #fff, 1782px 320px #fff, 814px 1816px #fff,
    549px 1772px #fff, 1732px 699px #fff, 633px 1345px #fff, 1798px 646px #fff,
    1614px 1771px #fff, 1258px 1402px #fff, 1088px 415px #fff,
    1251px 1515px #fff, 243px 248px #fff, 875px 1044px #fff, 1197px 942px #fff,
    1639px 1716px #fff, 1522px 176px #fff, 1943px 1375px #fff, 1090px 307px #fff,
    1835px 1147px #fff, 1933px 677px #fff, 1366px 231px #fff, 1734px 1066px #fff,
    1644px 1426px #fff, 1082px 1105px #fff, 1205px 824px #fff, 597px 408px #fff,
    662px 1573px #fff, 155px 148px #fff, 1072px 1713px #fff, 162px 1374px #fff,
    12px 32px #fff, 373px 1119px #fff, 1430px 645px #fff, 290px 1152px #fff,
    1375px 413px #fff, 1692px 1131px #fff, 1043px 90px #fff, 1598px 1943px #fff,
    1065px 655px #fff, 63px 231px #fff, 914px 47px #fff, 1314px 1646px #fff,
    1013px 1096px #fff, 125px 352px #fff, 160px 929px #fff, 579px 1890px #fff,
    1728px 1684px #fff, 318px 69px #fff, 1599px 1160px #fff, 336px 1880px #fff,
    1392px 1361px #fff, 589px 655px #fff, 338px 838px #fff, 1454px 1918px #fff,
    1673px 786px #fff, 1270px 500px #fff, 383px 198px #fff, 1520px 1638px #fff,
    1298px 1753px #fff, 1485px 1175px #fff, 1423px 1141px #fff, 540px 404px #fff,
    1371px 897px #fff, 195px 699px #fff, 1347px 695px #fff, 1008px 765px #fff,
    1304px 421px #fff, 1181px 1922px #fff, 1783px 808px #fff, 212px 1315px #fff,
    783px 234px #fff, 1913px 451px #fff, 534px 1063px #fff, 293px 1560px #fff,
    259px 1911px #fff, 1703px 86px #fff, 1873px 1126px #fff, 1793px 409px #fff,
    1137px 1676px #fff, 1716px 997px #fff, 869px 1882px #fff, 1143px 72px #fff,
    338px 471px #fff, 634px 289px #fff, 359px 943px #fff, 879px 175px #fff,
    1578px 1531px #fff, 1471px 1005px #fff, 442px 1346px #fff,
    1087px 1433px #fff, 1491px 1262px #fff, 1761px 835px #fff,
    1978px 1850px #fff, 1620px 40px #fff, 1656px 726px #fff, 1578px 1270px #fff,
    1503px 1134px #fff, 1810px 336px #fff, 1834px 1698px #fff, 468px 1935px #fff,
    2000px 267px #fff, 1891px 1054px #fff, 1426px 2000px #fff, 209px 514px #fff,
    1752px 1673px #fff, 870px 1106px #fff, 821px 852px #fff, 650px 303px #fff,
    707px 1312px #fff, 878px 1037px #fff, 326px 227px #fff, 1293px 1802px #fff,
    1271px 1967px #fff, 328px 268px #fff, 1015px 1540px #fff, 177px 131px #fff,
    1360px 1053px #fff, 571px 956px #fff, 529px 1308px #fff, 1341px 529px #fff,
    438px 732px #fff, 665px 266px #fff, 332px 1234px #fff, 94px 712px #fff,
    771px 1207px #fff, 253px 813px #fff, 1384px 1391px #fff, 1103px 646px #fff,
    1911px 1427px #fff, 591px 1079px #fff, 711px 478px #fff, 1281px 1540px #fff,
    472px 189px #fff, 1400px 1241px #fff, 269px 1685px #fff, 607px 1231px #fff,
    402px 931px #fff, 292px 1833px #fff, 34px 509px #fff, 946px 706px #fff,
    405px 679px #fff, 1764px 1191px #fff, 256px 1740px #fff, 1047px 1382px #fff,
    503px 995px #fff, 1337px 1479px #fff, 735px 608px #fff, 1966px 1619px #fff,
    1819px 184px #fff, 1182px 613px #fff, 1950px 1042px #fff, 861px 468px #fff,
    152px 500px #fff, 1391px 1784px #fff, 894px 312px #fff, 1165px 36px #fff,
    1257px 1131px #fff, 1368px 1944px #fff, 152px 544px #fff, 1203px 128px #fff,
    33px 949px #fff, 995px 1220px #fff, 1512px 113px #fff, 1246px 58px #fff,
    1508px 371px #fff, 1326px 1699px #fff, 1333px 1751px #fff, 550px 935px #fff,
    911px 1205px #fff, 984px 1327px #fff, 1669px 568px #fff, 1813px 1093px #fff,
    1226px 1052px #fff, 408px 489px #fff, 1131px 1645px #fff, 460px 1692px #fff,
    1536px 1172px #fff, 118px 1022px #fff, 1387px 1620px #fff, 165px 1379px #fff,
    1027px 378px #fff, 1044px 472px #fff, 1297px 1054px #fff, 698px 1405px #fff,
    1608px 472px #fff, 1889px 1534px #fff, 933px 1041px #fff, 146px 620px #fff,
    1327px 97px #fff, 1704px 170px #fff, 407px 198px #fff, 1725px 1893px #fff,
    1139px 529px #fff, 965px 256px #fff, 481px 116px #fff, 430px 865px #fff,
    1934px 384px #fff, 1556px 1887px #fff, 1161px 1342px #fff,
    1943px 1061px #fff, 845px 450px #fff, 1491px 294px #fff, 1968px 857px #fff,
    391px 303px #fff, 1908px 590px #fff, 1879px 1627px #fff, 1787px 1548px #fff,
    357px 283px #fff, 1651px 118px #fff, 1444px 1393px #fff, 1841px 921px #fff,
    1186px 991px #fff, 626px 209px #fff, 318px 1832px #fff, 893px 629px #fff,
    1048px 1497px #fff, 1928px 1490px #fff, 1181px 238px #fff,
    1507px 1950px #fff, 1793px 71px #fff, 33px 1199px #fff, 1039px 1771px #fff,
    1543px 777px #fff, 997px 243px #fff, 1982px 205px #fff, 377px 1001px #fff,
    406px 278px #fff, 1612px 51px #fff, 1774px 427px #fff, 218px 1px #fff,
    371px 1526px #fff, 1431px 217px #fff, 714px 1677px #fff, 751px 204px #fff,
    1348px 1017px #fff, 342px 314px #fff, 1109px 301px #fff, 1717px 62px #fff,
    290px 231px #fff, 1921px 1541px #fff, 99px 240px #fff, 610px 1930px #fff,
    567px 1527px #fff, 636px 928px #fff, 802px 1280px #fff, 1977px 1815px #fff,
    227px 1049px #fff, 948px 1864px #fff, 834px 44px #fff, 694px 998px #fff,
    1612px 1040px #fff, 1037px 1354px #fff, 126px 1042px #fff, 412px 738px #fff,
    15px 183px #fff, 1348px 1488px #fff, 1418px 1417px #fff, 294px 1842px #fff,
    194px 135px #fff, 482px 1238px #fff, 1690px 416px #fff, 1907px 1600px #fff,
    982px 1507px #fff, 780px 1053px #fff, 787px 1125px #fff, 184px 1578px #fff,
    1382px 1348px #fff, 998px 1306px #fff, 1655px 1252px #fff, 875px 840px #fff,
    1869px 699px #fff, 365px 1208px #fff, 1860px 1712px #fff, 1888px 1369px #fff,
    1113px 539px #fff, 1746px 1305px #fff, 521px 1074px #fff, 1710px 438px #fff,
    1305px 1316px #fff, 1148px 1837px #fff, 1729px 196px #fff, 1604px 168px #fff,
    1599px 1309px #fff, 1176px 1472px #fff, 1868px 625px #fff, 1529px 226px #fff,
    720px 1157px #fff, 1412px 956px #fff, 356px 67px #fff, 893px 1699px #fff,
    94px 1315px #fff, 1241px 1711px #fff, 62px 1967px #fff, 301px 710px #fff,
    536px 1657px #fff, 1779px 968px #fff, 338px 15px #fff, 1277px 101px #fff,
    951px 1716px #fff, 1593px 501px #fff, 1887px 705px #fff, 1062px 1409px #fff,
    1050px 1626px #fff, 1510px 1180px #fff, 1548px 1333px #fff, 64px 1724px #fff,
    1071px 313px #fff, 754px 354px #fff, 1444px 369px #fff, 1057px 360px #fff,
    463px 1294px #fff, 858px 548px #fff, 1731px 1572px #fff, 739px 823px #fff,
    55px 1895px #fff, 1126px 1516px #fff, 1821px 1845px #fff, 959px 100px #fff,
    1427px 431px #fff, 1469px 1777px #fff, 1686px 1615px #fff,
    1971px 1109px #fff, 1387px 263px #fff, 1194px 459px #fff, 1442px 82px #fff,
    53px 160px #fff, 963px 1392px #fff, 1225px 1160px #fff, 1919px 100px #fff,
    1725px 283px #fff, 720px 620px #fff, 77px 932px #fff, 1915px 1378px #fff,
    980px 1801px #fff, 1044px 504px #fff, 184px 473px #fff, 1617px 1681px #fff,
    1339px 1937px #fff, 1487px 907px #fff, 1268px 171px #fff, 1007px 114px #fff,
    1569px 102px #fff, 946px 700px #fff, 449px 134px #fff, 1050px 834px #fff,
    1258px 673px #fff, 926px 1367px #fff, 1739px 1011px #fff, 1104px 1116px #fff,
    1576px 1635px #fff, 798px 1566px #fff, 1274px 295px #fff, 817px 486px #fff,
    554px 794px #fff, 1109px 924px #fff, 1791px 452px #fff, 899px 545px #fff,
    1031px 1617px #fff, 923px 295px #fff, 70px 963px #fff, 1577px 816px #fff,
    1737px 1183px #fff, 337px 1681px #fff, 1008px 1109px #fff, 1349px 226px #fff,
    1859px 55px #fff, 1217px 1860px #fff, 752px 807px #fff, 630px 1143px #fff,
    1481px 599px #fff, 793px 76px #fff, 996px 797px #fff, 300px 1828px #fff,
    1305px 806px #fff, 881px 698px #fff, 907px 553px #fff, 1316px 910px #fff,
    1242px 1503px #fff, 661px 355px #fff, 1689px 812px #fff, 515px 756px #fff,
    1359px 291px #fff, 1053px 1552px #fff, 906px 1152px #fff, 917px 155px #fff,
    1217px 1281px #fff, 1177px 974px #fff, 776px 1471px #fff, 173px 1849px #fff,
    1018px 1519px #fff, 177px 806px #fff, 1345px 502px #fff, 1633px 1334px #fff,
    368px 667px #fff, 1650px 1854px #fff, 1548px 1334px #fff, 1465px 699px #fff,
    1716px 1668px #fff, 518px 1203px #fff, 60px 1099px #fff, 26px 1143px #fff,
    867px 564px #fff, 1120px 1836px #fff, 1908px 1095px #fff, 867px 469px #fff,
    641px 1494px #fff, 775px 66px #fff, 198px 1218px #fff, 1035px 150px #fff,
    847px 1914px #fff, 1653px 1109px #fff, 4px 1108px #fff, 1197px 1658px #fff,
    1423px 124px #fff, 1833px 687px #fff, 521px 286px #fff, 605px 909px #fff,
    1507px 340px #fff, 1603px 183px #fff, 973px 1030px #fff, 1062px 1635px #fff,
    224px 73px #fff, 1746px 141px #fff, 6px 324px #fff, 1239px 143px #fff,
    1105px 1159px #fff, 1183px 1010px #fff, 300px 1131px #fff, 716px 1046px #fff,
    920px 75px #fff, 742px 1448px #fff, 617px 1913px #fff, 830px 1637px #fff,
    820px 1492px #fff, 825px 1855px #fff, 71px 1257px #fff, 909px 98px #fff,
    1019px 1756px #fff, 1009px 834px #fff, 569px 969px #fff, 95px 1545px #fff,
    136px 1398px #fff, 1488px 1904px #fff, 1838px 494px #fff, 333px 1169px #fff,
    1941px 966px #fff, 731px 1088px #fff, 1534px 518px #fff, 1569px 1124px #fff,
    1884px 1816px #fff, 272px 1607px #fff, 1603px 1823px #fff,
    1495px 1532px #fff, 927px 658px #fff, 1241px 56px #fff, 1185px 253px #fff,
    1324px 315px #fff, 1172px 600px #fff, 1479px 583px #fff, 666px 836px #fff,
    343px 1578px #fff, 1928px 1018px #fff, 1682px 785px #fff, 1970px 165px #fff,
    1273px 1098px #fff, 554px 1600px #fff, 897px 27px #fff, 355px 987px #fff,
    68px 119px #fff, 1402px 1467px #fff, 1343px 1722px #fff, 1352px 1138px #fff,
    1016px 1422px #fff, 508px 97px #fff, 1898px 437px #fff, 272px 1316px #fff,
    1440px 377px #fff, 1614px 1899px #fff, 660px 1246px #fff, 264px 1650px #fff,
    625px 666px #fff, 1423px 1816px #fff, 1612px 171px #fff, 1110px 985px #fff,
    1267px 1555px #fff, 1358px 876px #fff, 562px 1168px #fff, 397px 675px #fff,
    482px 1469px #fff, 496px 1982px #fff, 1913px 1355px #fff, 498px 208px #fff,
    1611px 1048px #fff, 6px 1257px #fff, 846px 1891px #fff, 768px 80px #fff,
    1993px 1950px #fff, 226px 1559px #fff, 513px 1598px #fff, 873px 1784px #fff,
    1397px 1830px #fff, 1210px 780px #fff, 36px 1646px #fff, 766px 1797px #fff,
    54px 214px #fff, 1434px 1484px #fff, 535px 1392px #fff, 1422px 408px #fff,
    181px 1558px #fff, 438px 176px #fff, 256px 1722px #fff, 231px 1507px #fff,
    1012px 200px #fff, 995px 22px #fff, 294px 1079px #fff, 588px 1753px #fff,
    1256px 1060px #fff, 1943px 1485px #fff, 1278px 1566px #fff,
    349px 1594px #fff, 1592px 239px #fff, 1660px 1289px #fff, 1029px 1995px #fff,
    1474px 490px #fff, 1862px 1071px #fff, 1688px 452px #fff, 1214px 794px #fff,
    65px 74px #fff, 106px 1929px #fff, 1826px 484px #fff, 835px 218px #fff,
    543px 1323px #fff, 1068px 1880px #fff, 609px 485px #fff, 538px 1426px #fff,
    853px 531px #fff, 1070px 410px #fff, 635px 1971px #fff, 1470px 1223px #fff,
    1048px 1614px #fff, 1660px 1126px #fff, 42px 45px #fff, 843px 1156px #fff,
    717px 247px #fff, 530px 118px #fff, 645px 1535px #fff, 905px 441px #fff,
    1657px 1179px #fff, 1180px 782px #fff, 1901px 1408px #fff, 269px 1324px #fff,
    369px 308px #fff, 1539px 1709px #fff, 166px 1263px #fff, 1820px 809px #fff,
    356px 877px #fff, 662px 90px #fff, 1457px 1343px #fff, 1368px 1156px #fff,
    1364px 1668px #fff, 1288px 179px #fff, 1245px 1328px #fff, 1466px 461px #fff,
    466px 241px #fff, 513px 358px #fff, 1127px 510px #fff, 1619px 1235px #fff,
    1031px 1235px #fff, 1346px 195px #fff, 1000px 1323px #fff, 1737px 403px #fff,
    1350px 709px #fff, 253px 389px #fff, 492px 589px #fff, 278px 358px #fff,
    481px 328px #fff, 107px 1718px #fff, 538px 589px #fff, 1565px 1723px #fff,
    1781px 245px #fff, 1408px 1516px #fff, 1562px 518px #fff, 873px 549px #fff,
    683px 677px #fff, 1213px 1733px #fff, 1203px 1445px #fff, 1578px 691px #fff,
    618px 419px #fff, 1598px 1841px #fff, 144px 1332px #fff, 1724px 1970px #fff,
    1842px 580px #fff, 1378px 1639px #fff, 1762px 1924px #fff, 1683px 560px #fff,
    823px 251px #fff, 1599px 767px #fff, 795px 1396px #fff, 27px 194px #fff,
    381px 1246px #fff, 760px 1203px #fff, 1883px 1103px #fff, 1145px 727px #fff,
    832px 187px #fff, 1312px 697px #fff, 257px 88px #fff, 20px 435px #fff,
    845px 217px #fff, 225px 121px #fff, 1616px 1563px #fff, 1740px 1018px #fff,
    1010px 735px #fff, 808px 656px #fff, 1619px 264px #fff, 1478px 1372px #fff,
    861px 55px #fff, 1416px 921px #fff, 690px 1623px #fff, 292px 795px #fff,
    476px 1700px #fff, 988px 1935px #fff, 990px 1738px #fff, 1821px 229px #fff,
    414px 911px #fff, 457px 1934px #fff, 1418px 1229px #fff, 1200px 1859px #fff,
    418px 1395px #fff, 711px 1327px #fff, 172px 988px #fff, 1703px 1274px #fff,
    1172px 1825px #fff, 1213px 805px #fff, 163px 490px #fff, 587px 1947px #fff,
    1162px 723px #fff, 1794px 306px #fff, 777px 525px #fff, 1581px 1720px #fff,
    1429px 235px #fff, 1387px 445px #fff, 1723px 918px #fff, 1549px 1454px #fff,
    1709px 562px #fff, 977px 1456px #fff, 1383px 220px #fff, 1724px 808px #fff,
    1923px 1719px #fff, 1767px 897px #fff, 1618px 791px #fff, 1157px 232px #fff,
    533px 1571px #fff, 940px 619px #fff, 330px 158px #fff, 533px 1500px #fff,
    1543px 497px #fff, 871px 195px #fff, 1920px 1503px #fff, 1422px 1808px #fff,
    1191px 1595px #fff, 1911px 1821px #fff, 896px 1709px #fff, 786px 1955px #fff,
    519px 776px #fff, 171px 696px #fff, 932px 324px #fff, 967px 450px #fff,
    1969px 525px #fff, 112px 1901px #fff, 758px 847px #fff, 1568px 1179px #fff,
    1306px 652px #fff, 1473px 490px #fff, 386px 148px #fff, 416px 1496px #fff,
    981px 790px #fff, 1063px 439px #fff, 100px 639px #fff, 305px 777px #fff,
    72px 695px #fff, 857px 640px #fff, 1212px 1575px #fff, 1117px 664px #fff,
    949px 847px #fff, 188px 1989px #fff, 85px 181px #fff, 339px 60px #fff,
    1074px 1962px #fff, 1984px 549px #fff, 1475px 754px #fff, 880px 182px #fff,
    1466px 1021px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 72px 1412px #fff, 696px 1133px #fff, 539px 1613px #fff,
    1867px 1398px #fff, 206px 1573px #fff, 1251px 965px #fff, 744px 391px #fff,
    62px 1790px #fff, 1649px 597px #fff, 1782px 320px #fff, 814px 1816px #fff,
    549px 1772px #fff, 1732px 699px #fff, 633px 1345px #fff, 1798px 646px #fff,
    1614px 1771px #fff, 1258px 1402px #fff, 1088px 415px #fff,
    1251px 1515px #fff, 243px 248px #fff, 875px 1044px #fff, 1197px 942px #fff,
    1639px 1716px #fff, 1522px 176px #fff, 1943px 1375px #fff, 1090px 307px #fff,
    1835px 1147px #fff, 1933px 677px #fff, 1366px 231px #fff, 1734px 1066px #fff,
    1644px 1426px #fff, 1082px 1105px #fff, 1205px 824px #fff, 597px 408px #fff,
    662px 1573px #fff, 155px 148px #fff, 1072px 1713px #fff, 162px 1374px #fff,
    12px 32px #fff, 373px 1119px #fff, 1430px 645px #fff, 290px 1152px #fff,
    1375px 413px #fff, 1692px 1131px #fff, 1043px 90px #fff, 1598px 1943px #fff,
    1065px 655px #fff, 63px 231px #fff, 914px 47px #fff, 1314px 1646px #fff,
    1013px 1096px #fff, 125px 352px #fff, 160px 929px #fff, 579px 1890px #fff,
    1728px 1684px #fff, 318px 69px #fff, 1599px 1160px #fff, 336px 1880px #fff,
    1392px 1361px #fff, 589px 655px #fff, 338px 838px #fff, 1454px 1918px #fff,
    1673px 786px #fff, 1270px 500px #fff, 383px 198px #fff, 1520px 1638px #fff,
    1298px 1753px #fff, 1485px 1175px #fff, 1423px 1141px #fff, 540px 404px #fff,
    1371px 897px #fff, 195px 699px #fff, 1347px 695px #fff, 1008px 765px #fff,
    1304px 421px #fff, 1181px 1922px #fff, 1783px 808px #fff, 212px 1315px #fff,
    783px 234px #fff, 1913px 451px #fff, 534px 1063px #fff, 293px 1560px #fff,
    259px 1911px #fff, 1703px 86px #fff, 1873px 1126px #fff, 1793px 409px #fff,
    1137px 1676px #fff, 1716px 997px #fff, 869px 1882px #fff, 1143px 72px #fff,
    338px 471px #fff, 634px 289px #fff, 359px 943px #fff, 879px 175px #fff,
    1578px 1531px #fff, 1471px 1005px #fff, 442px 1346px #fff,
    1087px 1433px #fff, 1491px 1262px #fff, 1761px 835px #fff,
    1978px 1850px #fff, 1620px 40px #fff, 1656px 726px #fff, 1578px 1270px #fff,
    1503px 1134px #fff, 1810px 336px #fff, 1834px 1698px #fff, 468px 1935px #fff,
    2000px 267px #fff, 1891px 1054px #fff, 1426px 2000px #fff, 209px 514px #fff,
    1752px 1673px #fff, 870px 1106px #fff, 821px 852px #fff, 650px 303px #fff,
    707px 1312px #fff, 878px 1037px #fff, 326px 227px #fff, 1293px 1802px #fff,
    1271px 1967px #fff, 328px 268px #fff, 1015px 1540px #fff, 177px 131px #fff,
    1360px 1053px #fff, 571px 956px #fff, 529px 1308px #fff, 1341px 529px #fff,
    438px 732px #fff, 665px 266px #fff, 332px 1234px #fff, 94px 712px #fff,
    771px 1207px #fff, 253px 813px #fff, 1384px 1391px #fff, 1103px 646px #fff,
    1911px 1427px #fff, 591px 1079px #fff, 711px 478px #fff, 1281px 1540px #fff,
    472px 189px #fff, 1400px 1241px #fff, 269px 1685px #fff, 607px 1231px #fff,
    402px 931px #fff, 292px 1833px #fff, 34px 509px #fff, 946px 706px #fff,
    405px 679px #fff, 1764px 1191px #fff, 256px 1740px #fff, 1047px 1382px #fff,
    503px 995px #fff, 1337px 1479px #fff, 735px 608px #fff, 1966px 1619px #fff,
    1819px 184px #fff, 1182px 613px #fff, 1950px 1042px #fff, 861px 468px #fff,
    152px 500px #fff, 1391px 1784px #fff, 894px 312px #fff, 1165px 36px #fff,
    1257px 1131px #fff, 1368px 1944px #fff, 152px 544px #fff, 1203px 128px #fff,
    33px 949px #fff, 995px 1220px #fff, 1512px 113px #fff, 1246px 58px #fff,
    1508px 371px #fff, 1326px 1699px #fff, 1333px 1751px #fff, 550px 935px #fff,
    911px 1205px #fff, 984px 1327px #fff, 1669px 568px #fff, 1813px 1093px #fff,
    1226px 1052px #fff, 408px 489px #fff, 1131px 1645px #fff, 460px 1692px #fff,
    1536px 1172px #fff, 118px 1022px #fff, 1387px 1620px #fff, 165px 1379px #fff,
    1027px 378px #fff, 1044px 472px #fff, 1297px 1054px #fff, 698px 1405px #fff,
    1608px 472px #fff, 1889px 1534px #fff, 933px 1041px #fff, 146px 620px #fff,
    1327px 97px #fff, 1704px 170px #fff, 407px 198px #fff, 1725px 1893px #fff,
    1139px 529px #fff, 965px 256px #fff, 481px 116px #fff, 430px 865px #fff,
    1934px 384px #fff, 1556px 1887px #fff, 1161px 1342px #fff,
    1943px 1061px #fff, 845px 450px #fff, 1491px 294px #fff, 1968px 857px #fff,
    391px 303px #fff, 1908px 590px #fff, 1879px 1627px #fff, 1787px 1548px #fff,
    357px 283px #fff, 1651px 118px #fff, 1444px 1393px #fff, 1841px 921px #fff,
    1186px 991px #fff, 626px 209px #fff, 318px 1832px #fff, 893px 629px #fff,
    1048px 1497px #fff, 1928px 1490px #fff, 1181px 238px #fff,
    1507px 1950px #fff, 1793px 71px #fff, 33px 1199px #fff, 1039px 1771px #fff,
    1543px 777px #fff, 997px 243px #fff, 1982px 205px #fff, 377px 1001px #fff,
    406px 278px #fff, 1612px 51px #fff, 1774px 427px #fff, 218px 1px #fff,
    371px 1526px #fff, 1431px 217px #fff, 714px 1677px #fff, 751px 204px #fff,
    1348px 1017px #fff, 342px 314px #fff, 1109px 301px #fff, 1717px 62px #fff,
    290px 231px #fff, 1921px 1541px #fff, 99px 240px #fff, 610px 1930px #fff,
    567px 1527px #fff, 636px 928px #fff, 802px 1280px #fff, 1977px 1815px #fff,
    227px 1049px #fff, 948px 1864px #fff, 834px 44px #fff, 694px 998px #fff,
    1612px 1040px #fff, 1037px 1354px #fff, 126px 1042px #fff, 412px 738px #fff,
    15px 183px #fff, 1348px 1488px #fff, 1418px 1417px #fff, 294px 1842px #fff,
    194px 135px #fff, 482px 1238px #fff, 1690px 416px #fff, 1907px 1600px #fff,
    982px 1507px #fff, 780px 1053px #fff, 787px 1125px #fff, 184px 1578px #fff,
    1382px 1348px #fff, 998px 1306px #fff, 1655px 1252px #fff, 875px 840px #fff,
    1869px 699px #fff, 365px 1208px #fff, 1860px 1712px #fff, 1888px 1369px #fff,
    1113px 539px #fff, 1746px 1305px #fff, 521px 1074px #fff, 1710px 438px #fff,
    1305px 1316px #fff, 1148px 1837px #fff, 1729px 196px #fff, 1604px 168px #fff,
    1599px 1309px #fff, 1176px 1472px #fff, 1868px 625px #fff, 1529px 226px #fff,
    720px 1157px #fff, 1412px 956px #fff, 356px 67px #fff, 893px 1699px #fff,
    94px 1315px #fff, 1241px 1711px #fff, 62px 1967px #fff, 301px 710px #fff,
    536px 1657px #fff, 1779px 968px #fff, 338px 15px #fff, 1277px 101px #fff,
    951px 1716px #fff, 1593px 501px #fff, 1887px 705px #fff, 1062px 1409px #fff,
    1050px 1626px #fff, 1510px 1180px #fff, 1548px 1333px #fff, 64px 1724px #fff,
    1071px 313px #fff, 754px 354px #fff, 1444px 369px #fff, 1057px 360px #fff,
    463px 1294px #fff, 858px 548px #fff, 1731px 1572px #fff, 739px 823px #fff,
    55px 1895px #fff, 1126px 1516px #fff, 1821px 1845px #fff, 959px 100px #fff,
    1427px 431px #fff, 1469px 1777px #fff, 1686px 1615px #fff,
    1971px 1109px #fff, 1387px 263px #fff, 1194px 459px #fff, 1442px 82px #fff,
    53px 160px #fff, 963px 1392px #fff, 1225px 1160px #fff, 1919px 100px #fff,
    1725px 283px #fff, 720px 620px #fff, 77px 932px #fff, 1915px 1378px #fff,
    980px 1801px #fff, 1044px 504px #fff, 184px 473px #fff, 1617px 1681px #fff,
    1339px 1937px #fff, 1487px 907px #fff, 1268px 171px #fff, 1007px 114px #fff,
    1569px 102px #fff, 946px 700px #fff, 449px 134px #fff, 1050px 834px #fff,
    1258px 673px #fff, 926px 1367px #fff, 1739px 1011px #fff, 1104px 1116px #fff,
    1576px 1635px #fff, 798px 1566px #fff, 1274px 295px #fff, 817px 486px #fff,
    554px 794px #fff, 1109px 924px #fff, 1791px 452px #fff, 899px 545px #fff,
    1031px 1617px #fff, 923px 295px #fff, 70px 963px #fff, 1577px 816px #fff,
    1737px 1183px #fff, 337px 1681px #fff, 1008px 1109px #fff, 1349px 226px #fff,
    1859px 55px #fff, 1217px 1860px #fff, 752px 807px #fff, 630px 1143px #fff,
    1481px 599px #fff, 793px 76px #fff, 996px 797px #fff, 300px 1828px #fff,
    1305px 806px #fff, 881px 698px #fff, 907px 553px #fff, 1316px 910px #fff,
    1242px 1503px #fff, 661px 355px #fff, 1689px 812px #fff, 515px 756px #fff,
    1359px 291px #fff, 1053px 1552px #fff, 906px 1152px #fff, 917px 155px #fff,
    1217px 1281px #fff, 1177px 974px #fff, 776px 1471px #fff, 173px 1849px #fff,
    1018px 1519px #fff, 177px 806px #fff, 1345px 502px #fff, 1633px 1334px #fff,
    368px 667px #fff, 1650px 1854px #fff, 1548px 1334px #fff, 1465px 699px #fff,
    1716px 1668px #fff, 518px 1203px #fff, 60px 1099px #fff, 26px 1143px #fff,
    867px 564px #fff, 1120px 1836px #fff, 1908px 1095px #fff, 867px 469px #fff,
    641px 1494px #fff, 775px 66px #fff, 198px 1218px #fff, 1035px 150px #fff,
    847px 1914px #fff, 1653px 1109px #fff, 4px 1108px #fff, 1197px 1658px #fff,
    1423px 124px #fff, 1833px 687px #fff, 521px 286px #fff, 605px 909px #fff,
    1507px 340px #fff, 1603px 183px #fff, 973px 1030px #fff, 1062px 1635px #fff,
    224px 73px #fff, 1746px 141px #fff, 6px 324px #fff, 1239px 143px #fff,
    1105px 1159px #fff, 1183px 1010px #fff, 300px 1131px #fff, 716px 1046px #fff,
    920px 75px #fff, 742px 1448px #fff, 617px 1913px #fff, 830px 1637px #fff,
    820px 1492px #fff, 825px 1855px #fff, 71px 1257px #fff, 909px 98px #fff,
    1019px 1756px #fff, 1009px 834px #fff, 569px 969px #fff, 95px 1545px #fff,
    136px 1398px #fff, 1488px 1904px #fff, 1838px 494px #fff, 333px 1169px #fff,
    1941px 966px #fff, 731px 1088px #fff, 1534px 518px #fff, 1569px 1124px #fff,
    1884px 1816px #fff, 272px 1607px #fff, 1603px 1823px #fff,
    1495px 1532px #fff, 927px 658px #fff, 1241px 56px #fff, 1185px 253px #fff,
    1324px 315px #fff, 1172px 600px #fff, 1479px 583px #fff, 666px 836px #fff,
    343px 1578px #fff, 1928px 1018px #fff, 1682px 785px #fff, 1970px 165px #fff,
    1273px 1098px #fff, 554px 1600px #fff, 897px 27px #fff, 355px 987px #fff,
    68px 119px #fff, 1402px 1467px #fff, 1343px 1722px #fff, 1352px 1138px #fff,
    1016px 1422px #fff, 508px 97px #fff, 1898px 437px #fff, 272px 1316px #fff,
    1440px 377px #fff, 1614px 1899px #fff, 660px 1246px #fff, 264px 1650px #fff,
    625px 666px #fff, 1423px 1816px #fff, 1612px 171px #fff, 1110px 985px #fff,
    1267px 1555px #fff, 1358px 876px #fff, 562px 1168px #fff, 397px 675px #fff,
    482px 1469px #fff, 496px 1982px #fff, 1913px 1355px #fff, 498px 208px #fff,
    1611px 1048px #fff, 6px 1257px #fff, 846px 1891px #fff, 768px 80px #fff,
    1993px 1950px #fff, 226px 1559px #fff, 513px 1598px #fff, 873px 1784px #fff,
    1397px 1830px #fff, 1210px 780px #fff, 36px 1646px #fff, 766px 1797px #fff,
    54px 214px #fff, 1434px 1484px #fff, 535px 1392px #fff, 1422px 408px #fff,
    181px 1558px #fff, 438px 176px #fff, 256px 1722px #fff, 231px 1507px #fff,
    1012px 200px #fff, 995px 22px #fff, 294px 1079px #fff, 588px 1753px #fff,
    1256px 1060px #fff, 1943px 1485px #fff, 1278px 1566px #fff,
    349px 1594px #fff, 1592px 239px #fff, 1660px 1289px #fff, 1029px 1995px #fff,
    1474px 490px #fff, 1862px 1071px #fff, 1688px 452px #fff, 1214px 794px #fff,
    65px 74px #fff, 106px 1929px #fff, 1826px 484px #fff, 835px 218px #fff,
    543px 1323px #fff, 1068px 1880px #fff, 609px 485px #fff, 538px 1426px #fff,
    853px 531px #fff, 1070px 410px #fff, 635px 1971px #fff, 1470px 1223px #fff,
    1048px 1614px #fff, 1660px 1126px #fff, 42px 45px #fff, 843px 1156px #fff,
    717px 247px #fff, 530px 118px #fff, 645px 1535px #fff, 905px 441px #fff,
    1657px 1179px #fff, 1180px 782px #fff, 1901px 1408px #fff, 269px 1324px #fff,
    369px 308px #fff, 1539px 1709px #fff, 166px 1263px #fff, 1820px 809px #fff,
    356px 877px #fff, 662px 90px #fff, 1457px 1343px #fff, 1368px 1156px #fff,
    1364px 1668px #fff, 1288px 179px #fff, 1245px 1328px #fff, 1466px 461px #fff,
    466px 241px #fff, 513px 358px #fff, 1127px 510px #fff, 1619px 1235px #fff,
    1031px 1235px #fff, 1346px 195px #fff, 1000px 1323px #fff, 1737px 403px #fff,
    1350px 709px #fff, 253px 389px #fff, 492px 589px #fff, 278px 358px #fff,
    481px 328px #fff, 107px 1718px #fff, 538px 589px #fff, 1565px 1723px #fff,
    1781px 245px #fff, 1408px 1516px #fff, 1562px 518px #fff, 873px 549px #fff,
    683px 677px #fff, 1213px 1733px #fff, 1203px 1445px #fff, 1578px 691px #fff,
    618px 419px #fff, 1598px 1841px #fff, 144px 1332px #fff, 1724px 1970px #fff,
    1842px 580px #fff, 1378px 1639px #fff, 1762px 1924px #fff, 1683px 560px #fff,
    823px 251px #fff, 1599px 767px #fff, 795px 1396px #fff, 27px 194px #fff,
    381px 1246px #fff, 760px 1203px #fff, 1883px 1103px #fff, 1145px 727px #fff,
    832px 187px #fff, 1312px 697px #fff, 257px 88px #fff, 20px 435px #fff,
    845px 217px #fff, 225px 121px #fff, 1616px 1563px #fff, 1740px 1018px #fff,
    1010px 735px #fff, 808px 656px #fff, 1619px 264px #fff, 1478px 1372px #fff,
    861px 55px #fff, 1416px 921px #fff, 690px 1623px #fff, 292px 795px #fff,
    476px 1700px #fff, 988px 1935px #fff, 990px 1738px #fff, 1821px 229px #fff,
    414px 911px #fff, 457px 1934px #fff, 1418px 1229px #fff, 1200px 1859px #fff,
    418px 1395px #fff, 711px 1327px #fff, 172px 988px #fff, 1703px 1274px #fff,
    1172px 1825px #fff, 1213px 805px #fff, 163px 490px #fff, 587px 1947px #fff,
    1162px 723px #fff, 1794px 306px #fff, 777px 525px #fff, 1581px 1720px #fff,
    1429px 235px #fff, 1387px 445px #fff, 1723px 918px #fff, 1549px 1454px #fff,
    1709px 562px #fff, 977px 1456px #fff, 1383px 220px #fff, 1724px 808px #fff,
    1923px 1719px #fff, 1767px 897px #fff, 1618px 791px #fff, 1157px 232px #fff,
    533px 1571px #fff, 940px 619px #fff, 330px 158px #fff, 533px 1500px #fff,
    1543px 497px #fff, 871px 195px #fff, 1920px 1503px #fff, 1422px 1808px #fff,
    1191px 1595px #fff, 1911px 1821px #fff, 896px 1709px #fff, 786px 1955px #fff,
    519px 776px #fff, 171px 696px #fff, 932px 324px #fff, 967px 450px #fff,
    1969px 525px #fff, 112px 1901px #fff, 758px 847px #fff, 1568px 1179px #fff,
    1306px 652px #fff, 1473px 490px #fff, 386px 148px #fff, 416px 1496px #fff,
    981px 790px #fff, 1063px 439px #fff, 100px 639px #fff, 305px 777px #fff,
    72px 695px #fff, 857px 640px #fff, 1212px 1575px #fff, 1117px 664px #fff,
    949px 847px #fff, 188px 1989px #fff, 85px 181px #fff, 339px 60px #fff,
    1074px 1962px #fff, 1984px 549px #fff, 1475px 754px #fff, 880px 182px #fff,
    1466px 1021px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 760px 1078px #fff, 875px 992px #fff, 189px 1844px #fff,
    1081px 226px #fff, 1662px 1568px #fff, 324px 328px #fff, 1399px 1506px #fff,
    435px 653px #fff, 280px 627px #fff, 1619px 433px #fff, 1800px 595px #fff,
    1358px 216px #fff, 692px 1498px #fff, 993px 1529px #fff, 708px 1152px #fff,
    1141px 444px #fff, 1524px 1738px #fff, 998px 849px #fff, 1852px 756px #fff,
    342px 698px #fff, 822px 203px #fff, 1880px 583px #fff, 16px 282px #fff,
    357px 1701px #fff, 1569px 1724px #fff, 1737px 1861px #fff, 367px 1875px #fff,
    916px 913px #fff, 1524px 240px #fff, 1448px 1183px #fff, 1336px 1537px #fff,
    52px 1090px #fff, 1234px 549px #fff, 214px 523px #fff, 543px 1050px #fff,
    1762px 1058px #fff, 536px 1633px #fff, 145px 567px #fff, 1144px 1460px #fff,
    792px 1232px #fff, 1583px 1104px #fff, 503px 357px #fff, 1813px 581px #fff,
    1816px 1827px #fff, 463px 1079px #fff, 1228px 1662px #fff, 51px 833px #fff,
    490px 1035px #fff, 268px 754px #fff, 90px 1221px #fff, 649px 1428px #fff,
    280px 1003px #fff, 1959px 1068px #fff, 1380px 1968px #fff,
    1759px 1210px #fff, 1036px 618px #fff, 888px 1282px #fff, 1029px 1035px #fff,
    1634px 250px #fff, 348px 1057px #fff, 1301px 1306px #fff, 837px 196px #fff,
    1260px 1797px #fff, 169px 249px #fff, 156px 1207px #fff, 675px 1210px #fff,
    1334px 282px #fff, 1895px 824px #fff, 521px 84px #fff, 578px 577px #fff,
    1623px 982px #fff, 1632px 21px #fff, 803px 1104px #fff, 798px 1088px #fff,
    1169px 1970px #fff, 1235px 1851px #fff, 287px 1588px #fff, 1161px 976px #fff,
    1566px 528px #fff, 423px 261px #fff, 991px 1262px #fff, 244px 508px #fff,
    222px 1012px #fff, 332px 1087px #fff, 804px 200px #fff, 746px 1357px #fff,
    1663px 164px #fff, 914px 409px #fff, 1955px 689px #fff, 924px 113px #fff,
    762px 1345px #fff, 1099px 591px #fff, 865px 568px #fff, 89px 317px #fff,
    105px 1883px #fff, 1605px 1711px #fff, 1059px 1607px #fff, 46px 612px #fff,
    957px 1023px #fff, 944px 235px #fff, 870px 1165px #fff, 1235px 629px #fff,
    1798px 231px #fff, 1916px 781px #fff, 1364px 1791px #fff, 69px 237px #fff,
    1800px 373px #fff, 955px 489px #fff, 246px 1335px #fff, 1085px 254px #fff,
    1237px 1388px #fff, 1355px 996px #fff, 268px 375px #fff, 819px 1323px #fff,
    1252px 1725px #fff, 782px 150px #fff, 491px 1511px #fff, 1737px 716px #fff,
    1287px 977px #fff, 744px 1116px #fff, 338px 271px #fff, 1037px 650px #fff,
    1733px 884px #fff, 1024px 1487px #fff, 1019px 1549px #fff, 598px 277px #fff,
    1378px 189px #fff, 1376px 1323px #fff, 1845px 244px #fff, 10px 1063px #fff,
    1818px 1371px #fff, 558px 709px #fff, 495px 1720px #fff, 135px 297px #fff,
    730px 795px #fff, 966px 1374px #fff, 1147px 392px #fff, 724px 1476px #fff,
    1410px 897px #fff, 275px 461px #fff, 1772px 417px #fff, 112px 937px #fff,
    1472px 714px #fff, 1863px 1802px #fff, 1235px 196px #fff, 1703px 645px #fff,
    1839px 580px #fff, 258px 447px #fff, 1974px 165px #fff, 660px 1717px #fff,
    1145px 528px #fff, 1308px 809px #fff, 41px 1396px #fff, 201px 990px #fff,
    943px 922px #fff, 422px 351px #fff, 596px 174px #fff, 1465px 1197px #fff,
    1687px 1423px #fff, 863px 232px #fff, 437px 796px #fff, 1528px 119px #fff,
    1563px 874px #fff, 509px 1062px #fff, 694px 1338px #fff, 1635px 1732px #fff,
    325px 1152px #fff, 650px 1172px #fff, 390px 237px #fff, 1176px 1363px #fff,
    1968px 398px #fff, 1116px 576px #fff, 1563px 734px #fff, 406px 566px #fff,
    219px 970px #fff, 1748px 871px #fff, 1226px 362px #fff, 1563px 794px #fff,
    893px 45px #fff, 909px 1716px #fff, 630px 76px #fff, 1421px 1729px #fff,
    1292px 1780px #fff, 428px 1838px #fff, 1167px 1612px #fff, 1151px 715px #fff,
    667px 109px #fff, 893px 614px #fff, 1048px 330px #fff, 394px 1927px #fff,
    1130px 1327px #fff, 1485px 1687px #fff, 1127px 547px #fff, 250px 1002px #fff,
    1789px 1481px #fff, 1884px 1543px #fff, 714px 1087px #fff, 1096px 669px #fff,
    1204px 998px #fff, 63px 772px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 760px 1078px #fff, 875px 992px #fff, 189px 1844px #fff,
    1081px 226px #fff, 1662px 1568px #fff, 324px 328px #fff, 1399px 1506px #fff,
    435px 653px #fff, 280px 627px #fff, 1619px 433px #fff, 1800px 595px #fff,
    1358px 216px #fff, 692px 1498px #fff, 993px 1529px #fff, 708px 1152px #fff,
    1141px 444px #fff, 1524px 1738px #fff, 998px 849px #fff, 1852px 756px #fff,
    342px 698px #fff, 822px 203px #fff, 1880px 583px #fff, 16px 282px #fff,
    357px 1701px #fff, 1569px 1724px #fff, 1737px 1861px #fff, 367px 1875px #fff,
    916px 913px #fff, 1524px 240px #fff, 1448px 1183px #fff, 1336px 1537px #fff,
    52px 1090px #fff, 1234px 549px #fff, 214px 523px #fff, 543px 1050px #fff,
    1762px 1058px #fff, 536px 1633px #fff, 145px 567px #fff, 1144px 1460px #fff,
    792px 1232px #fff, 1583px 1104px #fff, 503px 357px #fff, 1813px 581px #fff,
    1816px 1827px #fff, 463px 1079px #fff, 1228px 1662px #fff, 51px 833px #fff,
    490px 1035px #fff, 268px 754px #fff, 90px 1221px #fff, 649px 1428px #fff,
    280px 1003px #fff, 1959px 1068px #fff, 1380px 1968px #fff,
    1759px 1210px #fff, 1036px 618px #fff, 888px 1282px #fff, 1029px 1035px #fff,
    1634px 250px #fff, 348px 1057px #fff, 1301px 1306px #fff, 837px 196px #fff,
    1260px 1797px #fff, 169px 249px #fff, 156px 1207px #fff, 675px 1210px #fff,
    1334px 282px #fff, 1895px 824px #fff, 521px 84px #fff, 578px 577px #fff,
    1623px 982px #fff, 1632px 21px #fff, 803px 1104px #fff, 798px 1088px #fff,
    1169px 1970px #fff, 1235px 1851px #fff, 287px 1588px #fff, 1161px 976px #fff,
    1566px 528px #fff, 423px 261px #fff, 991px 1262px #fff, 244px 508px #fff,
    222px 1012px #fff, 332px 1087px #fff, 804px 200px #fff, 746px 1357px #fff,
    1663px 164px #fff, 914px 409px #fff, 1955px 689px #fff, 924px 113px #fff,
    762px 1345px #fff, 1099px 591px #fff, 865px 568px #fff, 89px 317px #fff,
    105px 1883px #fff, 1605px 1711px #fff, 1059px 1607px #fff, 46px 612px #fff,
    957px 1023px #fff, 944px 235px #fff, 870px 1165px #fff, 1235px 629px #fff,
    1798px 231px #fff, 1916px 781px #fff, 1364px 1791px #fff, 69px 237px #fff,
    1800px 373px #fff, 955px 489px #fff, 246px 1335px #fff, 1085px 254px #fff,
    1237px 1388px #fff, 1355px 996px #fff, 268px 375px #fff, 819px 1323px #fff,
    1252px 1725px #fff, 782px 150px #fff, 491px 1511px #fff, 1737px 716px #fff,
    1287px 977px #fff, 744px 1116px #fff, 338px 271px #fff, 1037px 650px #fff,
    1733px 884px #fff, 1024px 1487px #fff, 1019px 1549px #fff, 598px 277px #fff,
    1378px 189px #fff, 1376px 1323px #fff, 1845px 244px #fff, 10px 1063px #fff,
    1818px 1371px #fff, 558px 709px #fff, 495px 1720px #fff, 135px 297px #fff,
    730px 795px #fff, 966px 1374px #fff, 1147px 392px #fff, 724px 1476px #fff,
    1410px 897px #fff, 275px 461px #fff, 1772px 417px #fff, 112px 937px #fff,
    1472px 714px #fff, 1863px 1802px #fff, 1235px 196px #fff, 1703px 645px #fff,
    1839px 580px #fff, 258px 447px #fff, 1974px 165px #fff, 660px 1717px #fff,
    1145px 528px #fff, 1308px 809px #fff, 41px 1396px #fff, 201px 990px #fff,
    943px 922px #fff, 422px 351px #fff, 596px 174px #fff, 1465px 1197px #fff,
    1687px 1423px #fff, 863px 232px #fff, 437px 796px #fff, 1528px 119px #fff,
    1563px 874px #fff, 509px 1062px #fff, 694px 1338px #fff, 1635px 1732px #fff,
    325px 1152px #fff, 650px 1172px #fff, 390px 237px #fff, 1176px 1363px #fff,
    1968px 398px #fff, 1116px 576px #fff, 1563px 734px #fff, 406px 566px #fff,
    219px 970px #fff, 1748px 871px #fff, 1226px 362px #fff, 1563px 794px #fff,
    893px 45px #fff, 909px 1716px #fff, 630px 76px #fff, 1421px 1729px #fff,
    1292px 1780px #fff, 428px 1838px #fff, 1167px 1612px #fff, 1151px 715px #fff,
    667px 109px #fff, 893px 614px #fff, 1048px 330px #fff, 394px 1927px #fff,
    1130px 1327px #fff, 1485px 1687px #fff, 1127px 547px #fff, 250px 1002px #fff,
    1789px 1481px #fff, 1884px 1543px #fff, 714px 1087px #fff, 1096px 669px #fff,
    1204px 998px #fff, 63px 772px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 884px 369px #fff, 297px 1283px #fff, 236px 1484px #fff,
    1758px 507px #fff, 121px 115px #fff, 716px 1223px #fff, 1907px 1211px #fff,
    287px 513px #fff, 332px 723px #fff, 1017px 89px #fff, 1832px 314px #fff,
    1537px 1333px #fff, 291px 1932px #fff, 1368px 1263px #fff, 821px 328px #fff,
    1296px 1159px #fff, 1219px 983px #fff, 1698px 1469px #fff,
    1520px 1963px #fff, 1192px 1511px #fff, 1287px 696px #fff, 860px 1334px #fff,
    1749px 138px #fff, 733px 808px #fff, 911px 1736px #fff, 799px 98px #fff,
    473px 642px #fff, 635px 1391px #fff, 1073px 1138px #fff, 956px 1342px #fff,
    2px 172px #fff, 1726px 1750px #fff, 156px 480px #fff, 1879px 114px #fff,
    136px 647px #fff, 1652px 443px #fff, 1654px 1428px #fff, 803px 911px #fff,
    907px 1755px #fff, 1349px 1701px #fff, 663px 62px #fff, 118px 500px #fff,
    1833px 115px #fff, 1847px 950px #fff, 1155px 117px #fff, 689px 1266px #fff,
    1724px 570px #fff, 1435px 932px #fff, 124px 1330px #fff, 653px 1979px #fff,
    542px 1462px #fff, 1196px 1879px #fff, 140px 309px #fff, 1973px 1939px #fff,
    615px 1697px #fff, 42px 1657px #fff, 1898px 1722px #fff, 885px 898px #fff,
    1817px 823px #fff, 818px 1132px #fff, 178px 474px #fff, 1397px 1467px #fff,
    1855px 1627px #fff, 19px 1433px #fff, 1217px 1467px #fff, 1887px 1315px #fff,
    1193px 43px #fff, 767px 1244px #fff, 679px 247px #fff, 1471px 314px #fff,
    1115px 1241px #fff, 186px 1387px #fff, 1275px 287px #fff, 1235px 385px #fff,
    456px 1974px #fff, 450px 243px #fff, 1890px 1459px #fff, 771px 344px #fff,
    1168px 164px #fff, 898px 1432px #fff, 1872px 229px #fff, 159px 298px #fff,
    1107px 1249px #fff, 493px 302px #fff, 707px 106px #fff, 131px 1086px #fff,
    923px 649px #fff, 1683px 1708px #fff, 307px 960px #fff, 1302px 187px #fff,
    690px 1768px #fff, 1565px 1539px #fff, 476px 871px #fff, 1266px 405px #fff,
    1136px 1233px #fff, 287px 97px #fff, 1778px 921px #fff, 1280px 550px #fff,
    707px 1500px #fff, 1522px 1041px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 884px 369px #fff, 297px 1283px #fff, 236px 1484px #fff,
    1758px 507px #fff, 121px 115px #fff, 716px 1223px #fff, 1907px 1211px #fff,
    287px 513px #fff, 332px 723px #fff, 1017px 89px #fff, 1832px 314px #fff,
    1537px 1333px #fff, 291px 1932px #fff, 1368px 1263px #fff, 821px 328px #fff,
    1296px 1159px #fff, 1219px 983px #fff, 1698px 1469px #fff,
    1520px 1963px #fff, 1192px 1511px #fff, 1287px 696px #fff, 860px 1334px #fff,
    1749px 138px #fff, 733px 808px #fff, 911px 1736px #fff, 799px 98px #fff,
    473px 642px #fff, 635px 1391px #fff, 1073px 1138px #fff, 956px 1342px #fff,
    2px 172px #fff, 1726px 1750px #fff, 156px 480px #fff, 1879px 114px #fff,
    136px 647px #fff, 1652px 443px #fff, 1654px 1428px #fff, 803px 911px #fff,
    907px 1755px #fff, 1349px 1701px #fff, 663px 62px #fff, 118px 500px #fff,
    1833px 115px #fff, 1847px 950px #fff, 1155px 117px #fff, 689px 1266px #fff,
    1724px 570px #fff, 1435px 932px #fff, 124px 1330px #fff, 653px 1979px #fff,
    542px 1462px #fff, 1196px 1879px #fff, 140px 309px #fff, 1973px 1939px #fff,
    615px 1697px #fff, 42px 1657px #fff, 1898px 1722px #fff, 885px 898px #fff,
    1817px 823px #fff, 818px 1132px #fff, 178px 474px #fff, 1397px 1467px #fff,
    1855px 1627px #fff, 19px 1433px #fff, 1217px 1467px #fff, 1887px 1315px #fff,
    1193px 43px #fff, 767px 1244px #fff, 679px 247px #fff, 1471px 314px #fff,
    1115px 1241px #fff, 186px 1387px #fff, 1275px 287px #fff, 1235px 385px #fff,
    456px 1974px #fff, 450px 243px #fff, 1890px 1459px #fff, 771px 344px #fff,
    1168px 164px #fff, 898px 1432px #fff, 1872px 229px #fff, 159px 298px #fff,
    1107px 1249px #fff, 493px 302px #fff, 707px 106px #fff, 131px 1086px #fff,
    923px 649px #fff, 1683px 1708px #fff, 307px 960px #fff, 1302px 187px #fff,
    690px 1768px #fff, 1565px 1539px #fff, 476px 871px #fff, 1266px 405px #fff,
    1136px 1233px #fff, 287px 97px #fff, 1778px 921px #fff, 1280px 550px #fff,
    707px 1500px #fff, 1522px 1041px #fff;
}

/* @keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
} */
